server {
  listen 80;
  server_name  {{item.url}};

  # for letsencrypt
  # redirect everthing to https except for .well-known

  location ~ ^/(?!(\.well-known)) {
    return 301 https://$host$request_uri;
  }
}
server {
  listen 443 ssl;
  server_name  {{item.url}};

  root /srv/www/{{item.url}}/htdocs;

  ssl_certificate     /srv/www/{{item.url}}/data/{{item.url}}.tls.crt;
  ssl_certificate_key /srv/www/{{item.url}}/data/{{item.url}}.tls.key;
  ssl_dhparam         /srv/www/{{item.url}}/data/{{item.url}}.tls.dh;

  location /_matrix {
    proxy_pass http://localhost:{{item.port}};
  }
}

server {
  listen 8448 ssl;
  server_name  {{item.url}};

  ssl_certificate     /srv/www/{{item.url}}/data/{{item.url}}.tls.crt;
  ssl_certificate_key /srv/www/{{item.url}}/data/{{item.url}}.tls.key;
  ssl_dhparam         /srv/www/{{item.url}}/data/{{item.url}}.tls.dh;

  location / {
    proxy_pass http://localhost:{{item.port}};
  }
}
