---
- name: HTTPS APT transport for Docker repository
  apt:
    name: apt-transport-https
    state: present

- name: Add Docker repository key
  apt_key:
    id: "58118E89F3A912897C070ADBF76221572C52609D"
    keyserver: "hkp://p80.pool.sks-keyservers.net:80"
    state: present
  ignore_errors: true

- name: Add Docker repository and update apt cache
  apt_repository:
    repo: "deb https://apt.dockerproject.org/repo debian-stretch main"
    mode: '644'
    update_cache: yes
    state: present

- name: Install docker-engine
  apt:
    name: docker-engine
    state: present

- name: Install python-pip
  apt:
    name: python-pip
    state: present

- name: install requirement docker-py
  pip: name=docker-py
